body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
a {color: #2E2F42;;}
.header a {
  font-weight: 500;
     }
.header a {active:color:#404BBF;}
.section-hero.hero-title {
   font-weight: 700
   color:#ffffff;}